
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Person Page</title>
</head>
<body>
    <h1>All Person Page</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Email</th>
                
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.phone }}</td>   
                    <td>{{ user.email}}</td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
